{% extends 'base.html' %}
{% block content %}



<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            

           
            <form action="/tasks/create/" method="POST" class="card card-body">
                <h1>{{ task.title }}</h1>
                {{ error }}
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-success">Actualizar</button>
            </form>
            <div class="mt-5 d-flex">
            <form action="{% url 'complete.task' task.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-info">
                    Completada
                </button>
            </form>
            
            <form action="{% url 'delete.task' task.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">
                    Eliminar
                </button>
            </form>
        </div>
    </div>
    </div>
</main>
{% endblock%}